@model test123.Models.SmsSurveyPerson
@{
}

@using (Html.BeginForm("Update", "SmsSurveyPerson", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Id)
        @Html.TextBoxFor(m => m.Id)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.SmsSurveyId)
        @Html.TextBoxFor(m => m.SmsSurveyId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PhoneNumber)
        @Html.TextBoxFor(m => m.PhoneNumber)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Answer)
        @Html.TextBoxFor(m => m.Answer)
    </div>
    <div>
        <button class="btn btn-warning"> Update</button>
    </div>
}
